* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

input,
textarea {
  outline: none;
}

h2,
h1 {
  margin: 0;
}

body {
  margin: 16px;
  font-family:
    'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.ul-categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  background-color: #ececf3;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
}

.item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.item ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
}

.gallery {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 0.3s linear;
}

.change-color:hover {
  background-color: #6c8cff;
}

.name-input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.name-input-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form,
.login-form label {
  display: flex;
  flex-direction: column;
}

.login-form {
  width: 360px;
}

.login-form label {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.login-form input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
  transition: background-color 0.3s linear;
}

.login-form button:hover {
  background-color: #6c8cff;
}
